In [86]:
import os
import sys
import pandas as pd
import numpy as np
from sklearn.neighbors import DistanceMetric
import math
from math import sin, cos, sqrt, atan2, radians

In [87]:
head, tail = os.path.split(os.getcwd())
head, tail

('/Users/Gagandeep/Desktop/Concordia/12 Winter 2021/SOEN 471/NoToW',
 'notebooks')

In [88]:
head, tail = os.path.split(os.getcwd())
data_dir = os.path.join(head, 'data')
data_raw_dir = os.path.join(data_dir, 'raw')
data_raw_dir

'/Users/Gagandeep/Desktop/Concordia/12 Winter 2021/SOEN 471/NoToW/data/raw'

In [89]:
os.listdir(data_raw_dir)

['Periodes.csv',
 'remorquages.csv',
 'headers.txt',
 '.gitkeep',
 'BornesHorsRue.csv',
 'BornesSurRue.csv',
 'ReglementationPeriode.csv',
 'Places.csv',
 'Reglementations.csv',
 'remorquages2005-2015.csv',
 'EmplacementReglementation.csv']

In [90]:
df_remor = pd.read_csv(os.path.join(data_raw_dir, 'remorquages.csv'), header=0)
df_remor.head()

,DATE_ORIGINE,LONGITUDE_ORIGINE,LATITUDE_ORIGINE,RUE_ORIGINE,SECTEUR_ORIGINE,ARRONDISSEMENT_ORIGINE,DATE_DESTINATION,LONGITUDE_DESTINATION,LATITUDE_DESTINATION,RUE_DESTINATION,SECTEUR_DESTINATION,ARRONDISSEMENT_DESTINATION,MOTIF_REMORQUAGE
0,2015-12-31T00:23:00,-73.587203,45.524981,rue Drolet,NaN,Plateau-Mont-Royal,2015-12-31T00:25:00,-73.586791,45.525131,rue de Grand-Pré,NaN,Plateau-Mont-Royal,Constat d'infraction
1,2015-12-31T00:24:00,-73.622256,45.585753,boulevard des Grandes-Prairies,NaN,Saint-Léonard,2015-12-31T00:30:00,-73.621005,45.586975,boulevard des Grandes-Prairies,NaN,Saint-Léonard,Constat d'infraction
2,2015-12-31T00:25:00,-73.600692,45.535027,rue Saint-Hubert,NaN,Rosemont - La Petite-Patrie,2015-12-31T00:32:00,-73.600881,45.535163,rue Saint-Hubert,NaN,Rosemont - La Petite-Patrie,Constat d'infraction
3,2015-12-31T00:25:00,-73.620824,45.516675,avenue Ducharme,NaN,Outremont,2015-12-31T00:28:00,-73.621995,45.518764,avenue Rockland,NaN,Outremont,Constat d'infraction
4,2015-12-31T00:27:00,-73.580197,45.494309,rue Saint-Mathieu,NaN,Ville-Marie,2015-12-31T00:39:00,-73.579972,45.493133,rue Sainte-Catherine Ouest,NaN,Ville-Marie,Constat d'infraction

In [91]:
df_remor.dtypes

DATE_ORIGINE                   object
LONGITUDE_ORIGINE             float64
LATITUDE_ORIGINE              float64
RUE_ORIGINE                    object
SECTEUR_ORIGINE               float64
ARRONDISSEMENT_ORIGINE         object
DATE_DESTINATION               object
LONGITUDE_DESTINATION         float64
LATITUDE_DESTINATION          float64
RUE_DESTINATION                object
SECTEUR_DESTINATION           float64
ARRONDISSEMENT_DESTINATION     object
MOTIF_REMORQUAGE               object
dtype: object

In [92]:
df_remor['MOTIF_REMORQUAGE'].value_counts()

Constat d'infraction        240333
Remis au propriétaire         4576
Autre                         2485
Déplacement non autorisé      1746
Événement policier             774
Name: MOTIF_REMORQUAGE, dtype: int64

In [93]:
df_avg_drop_dist = df_remor[['LONGITUDE_ORIGINE', 'LATITUDE_ORIGINE', 'LONGITUDE_DESTINATION', 'LATITUDE_DESTINATION']]
df_avg_drop_dist

,LONGITUDE_ORIGINE,LATITUDE_ORIGINE,LONGITUDE_DESTINATION,LATITUDE_DESTINATION
0,-73.587203,45.524981,-73.586791,45.525131
1,-73.622256,45.585753,-73.621005,45.586975
2,-73.600692,45.535027,-73.600881,45.535163
3,-73.620824,45.516675,-73.621995,45.518764
4,-73.580197,45.494309,-73.579972,45.493133
...,...,...,...,...
250072,-73.705183,45.531197,-73.704284,45.530772
250073,-73.654533,45.559930,-73.650458,45.560528
250074,-73.579544,45.491353,-73.579424,45.493636
250075,-73.595783,45.461529,-73.590168,45.461180
250076,-73.579455,45.491400,-73.578657,45.494284

In [67]:
df_avg_drop_dist['avg_dist'] = np.sqrt((df_avg_drop_dist['LONGITUDE_ORIGINE'] - df_avg_drop_dist['LATITUDE_ORIGINE'])**2 \
                                       + (df_avg_drop_dist['LONGITUDE_DESTINATION'] - df_avg_drop_dist['LATITUDE_DESTINATION'])**2)

/opt/anaconda3/envs/bigdata/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [94]:
df_avg_drop_dist

,LONGITUDE_ORIGINE,LATITUDE_ORIGINE,LONGITUDE_DESTINATION,LATITUDE_DESTINATION
0,-73.587203,45.524981,-73.586791,45.525131
1,-73.622256,45.585753,-73.621005,45.586975
2,-73.600692,45.535027,-73.600881,45.535163
3,-73.620824,45.516675,-73.621995,45.518764
4,-73.580197,45.494309,-73.579972,45.493133
...,...,...,...,...
250072,-73.705183,45.531197,-73.704284,45.530772
250073,-73.654533,45.559930,-73.650458,45.560528
250074,-73.579544,45.491353,-73.579424,45.493636
250075,-73.595783,45.461529,-73.590168,45.461180
250076,-73.579455,45.491400,-73.578657,45.494284

## Distance between pick up and drop off using Haversin formula
```https://www.kite.com/python/answers/how-to-find-the-distance-between-two-lat-long-coordinates-in-python```

In [95]:
R = 6373.0

lat1 = np.radians(df_avg_drop_dist['LATITUDE_ORIGINE'])
lon1 = np.radians(df_avg_drop_dist['LONGITUDE_ORIGINE'])
lat2 = np.radians(df_avg_drop_dist['LATITUDE_DESTINATION'])
lon2 = np.radians(df_avg_drop_dist['LONGITUDE_DESTINATION'])

dlon = lon2 - lon1
dlat = lat2 - lat1
# print(dlon, dlat)
a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
# print(type(a))
c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
# print(c)
distance = R * c
# print(type(distance))
df_avg_drop_dist.loc[:, 'avg_dist'] = distance

/opt/anaconda3/envs/bigdata/lib/python3.6/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/anaconda3/envs/bigdata/lib/python3.6/site-packages/pandas/core/indexing.py:1783: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [96]:
df_avg_drop_dist

,LONGITUDE_ORIGINE,LATITUDE_ORIGINE,LONGITUDE_DESTINATION,LATITUDE_DESTINATION,avg_dist
0,-73.587203,45.524981,-73.586791,45.525131,0.036217
1,-73.622256,45.585753,-73.621005,45.586975,0.167196
2,-73.600692,45.535027,-73.600881,45.535163,0.021071
3,-73.620824,45.516675,-73.621995,45.518764,0.249612
4,-73.580197,45.494309,-73.579972,45.493133,0.132003
...,...,...,...,...,...
250072,-73.705183,45.531197,-73.704284,45.530772,0.084563
250073,-73.654533,45.559930,-73.650458,45.560528,0.324189
250074,-73.579544,45.491353,-73.579424,45.493636,0.254095
250075,-73.595783,45.461529,-73.590168,45.461180,0.439812
250076,-73.579455,45.491400,-73.578657,45.494284,0.326761

In [97]:
df_avg_drop_dist['avg_dist'].mean()

0.2436290171642963